/* src/App.css */

/* General Reset */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.navbar h1 {
  margin: 0;
}

.navbar .links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.navbar .links a:hover {
  text-decoration: underline;
}

/* Gallery Styles */
.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 20px;
  height: calc(100vh - 60px); /* Adjust height considering the navbar */
  overflow-y: auto;
}

.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* ImageView Styles */
.image-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8fafc;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.image-view-content {
  display: flex;
  background-color: #fff;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  overflow: hidden;
  max-width: 900px;
  width: 100%;
  transition: transform 0.3s ease;
}

.image-view-content:hover {
  transform: scale(1.02);
}

.image-view-image {
  width: 50%;
  object-fit: cover;
}

.image-view-info {
  padding: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-view-title {
  font-size: 28px;
  margin-bottom: 15px;
  color: #222;
  font-weight: bold;
}

.image-view-description {
  font-size: 18px;
  color: #444;
  line-height: 1.6;
}

.back-button {
  align-self: flex-start;
  margin-bottom: 20px;
  padding: 12px 24px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #0056b3;
}



/* About Section Styles */
.about {
  padding: 20px;
  text-align: center;
}

.about h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.about p {
  font-size: 1.2em;
  color: #666;
}
